<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="css/contact.css">
<div class="jumbotron jumbotron-sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h1>ABOUT US</h1>
      </div>
      <div class="col-sm-12 col-lg-12" style="text-align: right">
        <!-- <a class="btn btn-danger navbar-btn " href="/logout">Logout</a>  -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="about-us" id="startchange">
    <a name="about"></a>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="descript col-xs-12 col-sm-12 col-md-12">
          <h4>Title</h4>
          <p class="about-us-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <!-- <a href="#" class="team">Our Team</a> -->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="icons" style="text-align: center; margin-top: 200px">
  <p>Follow us</p>
  <a href="http://www.facebook.com"> <img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
  <a href="http://www.instagram.com"> <img src="https://img.icons8.com/color/48/000000/instagram-new.png"></a>
  <a href="http://www.youtube.com"> <img src="https://img.icons8.com/color/48/000000/youtube.png"> </a>
  <a href="http://www.twitter.com"> <img src="https://img.icons8.com/color/48/000000/twitter-squared.png"> </a>
</div>
<div>
  <footer>
    <hr>
    <p style="text-align: center;">Contact information: <a href="mail:someone@example.com">
        boodschap@boodschap.com</a></p>
    <div style="margin: 35px 300px; text-align: center;">
      <a style="text-decoration:none;" href="/contact"> <button name="askme" type="button"
          class="btn btn-warning btn-lg btn-block">A S K - M E </button> </a>
    </div>
  </footer>
</div>