<%- include('partials/header') %>

<div class="login-page">
  <div class="form">
    <form class="login-form" action="/login" method="POST">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>Log In</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
<hr>
<div class="facebook">
  <a class="btn btn-block btn-social btn-twitter" href="/auth/facebook" role="button">
    <i class="fab fa-facebook"></i>
    Sign In with Facebook
  </a>
</div>
<div class="google">
  <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign In with Google
  </a>
</div>
</div>

</div>
  


<%- include('partials/footer') %>
