<%- include('partials/header') %>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/register" method="POST">
      <input class="form-control" type="text" name="username" placeholder="Username"/>
      <input class="form-control" type="text" name="email" placeholder="Email Address"/>
      <input class="form-control" type="text" name="fullname" placeholder="Fullname"/> 
      <input class="form-control" type="password" name="password" placeholder="Password"/>
      <input class="form-control" type="password" name="passwordConfirm" placeholder="Password Confirmation"/>
      <button type="submit">Create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
    <hr>

  <div class="facebook">
  <a class="btn btn-block btn-social btn-twitter" href="/auth/facebook" role="button">
    <i class="fab fa-facebook"></i>
    Sign In with Facebook
  </a>
  </div>
  <div class="google">
  <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign In with Google
  </a>
  </div>
</div>
  


<%- include('partials/header') %>
